<a href="https://colab.research.google.com/github/jeremontoya155/PandasMontoya/blob/main/Pandas_Montoya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [254]:
#Entrega trabajo de pandas 
import pandas as pd
import numpy as np

"""
ACLARACION RENOMBRE COMO MEDALLAS AL ARCHIVO CSV

Enunciados
1-Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos
2-Separar nombres de apellidos en dos columnas distintas usando la coma como separador
3-Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
4-Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.


"""

'\nACLARACION RENOMBRE COMO MEDALLAS AL ARCHIVO CSV\n\nEnunciados\n1-Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos\n2-Separar nombres de apellidos en dos columnas distintas usando la coma como separador\n3-Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?\n4-Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.\n\n\n'

In [255]:
def funcionUno(df):
  #Creo un frame especifico para el caso uno para trabajar de manera diferente con los demas 
  medallasEjUno=pd.read_csv('/content/medallas.csv',encoding='latin-1',index_col="Year")
  return medallasEjUno

In [256]:
def funcionDos(df):
  nombresAux=medallas['Athlete'].str.split(",",n=1,expand=True)
  return nombresAux

In [257]:
def funcionTres(df):
  #Primero mostramos lo basico
  print("Descripcion General")
  print(df.describe)
  mp=medallas[["Country","Medal"]]
  medallasGanadas=mp["Country"].value_counts()
  mayorGanador=medallasGanadas.head(1)
  print("--------------------------")
  print("Devolucion del mas ganador")
  print("--------------------------")
  return mayorGanador

In [258]:
def funcionCuatro(df):
  medallasAuxPG=medallas[['Year','Gender','Medal']]
  #Queda aclarado cuantas medallas ganaron los hombres en cada año
  auxG=medallasAuxPG.groupby(by=["Year","Gender"]).count()

  return auxG

In [259]:
#Primero Traemos los contenidos del archivo en este caso lo renombre como medallas
#Aclaracion dejo el contenido comentando para demostrar que dejaba un error sin el latin-1
#dFrame=pd.read_csv('/content/medallas.csv')
medallas=pd.read_csv('/content/medallas.csv',encoding='latin-1')

In [260]:
funcionUno(medallas)

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [261]:
funcionDos(medallas)

               0                1
0         KÖHLER          Christa
1       KOSENKOV        Aleksandr
2          BOGGS    Philip George
3       CAGNOTTO   Giorgio Franco
4         WILSON   Deborah Keplar
...          ...              ...
15428     GUENOT       Christophe
15429  KVIRKELIA         Manuchar
15430    RAHIMOV          Vitaliy
15431     GUENOT           Steeve
15432      LOPEZ           Mijain

[15433 rows x 2 columns]

In [262]:
funcionTres(medallas)

Descripcion General
<bound method NDFrame.describe of            City    Year      Sport       Discipline           Event  \
0      Montreal  1976.0   Aquatics           Diving  3m springboard
1      Montreal  1976.0   Aquatics           Diving  3m springboard
2      Montreal  1976.0   Aquatics           Diving  3m springboard
3      Montreal  1976.0   Aquatics           Diving  3m springboard
4      Montreal  1976.0   Aquatics           Diving    10m platform
...         ...     ...        ...              ...             ...
15428   Beijing  2008.0  Wrestling  Wrestling Gre-R       66 - 74kg
15429   Beijing  2008.0  Wrestling  Wrestling Gre-R       66 - 74kg
15430   Beijing  2008.0  Wrestling  Wrestling Gre-R       55 - 60kg
15431   Beijing  2008.0  Wrestling  Wrestling Gre-R       60 - 66kg
15432   Beijing  2008.0  Wrestling  Wrestling Gre-R      96 - 120kg

                        Athlete Gender Country_Code        Country  \
0               KÖHLER, Christa  Women          GDR   East Germany
1           KOSENKOV, Aleksandr    Men          URS   Soviet Union
2          BOGGS, Philip George    Men          USA  United States
3      CAGNOTTO, Giorgio Franco    Men          ITA          Italy
4        WILSON, Deborah Keplar  Women          USA  United States
...                         ...    ...          ...            ...
15428        GUENOT, Christophe    Men          FRA         France
15429       KVIRKELIA, Manuchar    Men          GEO        Georgia
15430          RAHIMOV, Vitaliy    Men          AZE     Azerbaijan
15431            GUENOT, Steeve    Men          FRA         France
15432             LOPEZ, Mijain    Men          CUB           Cuba

      Event_gender   Medal
0                W  Silver
1                M  Bronze
2                M    Gold
3                M  Silver
4                W  Bronze
...            ...     ...
15428            M  Bronze
15429            M    Gold
15430            M  Silver
15431            M    Gold
15432            M    Gold

[15433 rows x 11 columns]>
--------------------------
Devolucion del mas ganador
--------------------------

United States    1992
Name: Country, dtype: int64

In [263]:
funcionCuatro(medallas)

               Medal
Year   Gender
1976.0 Men       924
       Women     381
1980.0 Men       958
       Women     429
1984.0 Men       973
       Women     486
1988.0 Men      1011
       Women     535
1992.0 Men      1105
       Women     600
1996.0 Men      1082
       Women     777
2000.0 Men      1126
       Women     889
2004.0 Men      1099
       Women     899
2008.0 Men      1110
       Women     932